@use "../colors";

.gfLogo{
    line-height: .8em;
    letter-spacing: -.013em;
    text-transform: uppercase !important;
    color: colors.$primary;
}

.dek{
    color: colors.$primary;
    font-weight: 700;
}

.approachBanner{
    background-color: colors.$primary;
}

.sticky-active header {
    margin-top: 0;
}
