@use "../colors";

h1.gfLogo{
    line-height: .8em;
    letter-spacing: -.013em;
    text-transform: uppercase !important;
    color: colors.$secondary;
}

.dek{
    color: colors.$primary;
    font-weight: 700;
}

.approachBanner{
    background-color: colors.$primary;
}
