@use "../styles/colors";

.navbar {
    
}

.navbar__item {
    font-size: 18px;
    font-weight: 700;
    font-variation-settings: 'wght' 800;
    color: colors.$primary;

    &:hover{
        color: colors.$secondary;
    }
}

