@use "../styles/colors";

.navbar {
    color: colors.$primary;
}

.navbar__item {
    font-size: 18px;
    font-weight: 700;
    color: colors.$tertiary--hover;

    &:hover{
        color: colors.$secondary;
    }
}

