$test : blue;
$test2 : red;

$primary: oklab(100% 0 -0.00011);
$secondary: #8CFF5B;
$tertiary: hsla(182, 100%, 60%, 1);
$tertiary--hover: hsla(182, 100%, 80%, 1);
$base: #000814;

//$primary_color: #00587B;
//$base_color: #67B698;
