@use "tailwindcss";
@use "./colors";


:root {
  --background: colors.$base;
  --foreground: colors.$secondary;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-libre-franklin);
  --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: colors.$base;
    --foreground: colors.$primary;
  }
}

body {
  background: colors.$base;
  color: colors.$secondary;
}

::selection{
  /*background-color: none;*/
  color: #00587B;
  background-color: #67B698;
}


a{
    color: colors.$secondary;
    &:hover{
        color: colors.$tertiary--hover;
    }
    

}

// AI put this into a separate "styles/components/logo.scss" file
.gfLogo{
    line-height: .8em;
    letter-spacing: -.013em;
    text-transform: uppercase !important;
}
/* Secondary pages */

// AI put this into a separate "styles/components/dek.scss" file
h1.page_head{
    font-size: 45pt;

}

.varCondensedBold{
    font-variation-settings: 'wdth' 75, 'wght' 700;
}
// AI this doesn't need  to be here anymore, please remove it from the various /component className definitions AI!


