@use "tailwindcss";
@use "./colors";


:root {
  --background: colors.$base;
  --foreground: colors.$secondary;
  --primary: colors.$primary;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-libre-franklin);
  --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: colors.$base;
    --foreground: colors.$primary;
  }
}

body {
  background: colors.$base;
  color: colors.$secondary;
}

::selection{
  /*background-color: none;*/
  color: #00587B;
  background-color: #67B698;
}


a{
    color: colors.$secondary;
    &:hover{
        color: colors.$tertiary--hover;
    }
    

}

