@use "tailwindcss";
@use "./colors";


:root {
  --background: colors.$base;
  --foreground: colors.$secondary;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-mono: var(--font-space-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: colors.$base;
    --foreground: colors.$primary;
  }
}

body {
  background: colors.$base;
  color: colors.$secondary;
}

::selection{
  /*background-color: none;*/
  color: #00587B;
  background-color: #67B698;
}

.varCondensedBold{
    font-variation-settings: 'wdth' 75, 'wght' 700;
}

.gfLogo{
    line-height: .8em;
    letter-spacing: -.013em;
    text-transform: uppercase !important;
}

